

#footer{

	vertical-align:middle;
	text-align:right;
	clear:both;
	padding-right:3px;
	/*background-color:#317082;*/
	margin-top:2px;
	width:100%;
}

#sortingdiv{
  
  /*background-color:#333; */
  
  margin-bottom: 20px;
}



#divhidden{
	display:none;
	
}
#divshow{
	display:block;
}

.but1, .but2{
  width: 50px;
  text-align: center;
  border: none;
  height:100%;
  float: right;
}
.but1{
  background-color:#333;
  color:#FFF;
  
}

.but2{
  background-color:#CCC;
  color:#333;
}

.lic0{
  background-color:#999;
}
.lic1 {
  background-color:#FFFF99;
}
.dragbox{
  /*background-color:#000;*/
}
.drag-head {
   
}

