

#footer{

	vertical-align:middle;
	text-align:right;
	clear:both;
	padding-right:3px;
	/*background-color:#317082;*/
	margin-top:2px;
	width:100%;
}

#sortingdiv{
  
  /*background-color:#333; */
  
  margin-bottom: 20px;
}



#footer form{
	margin:0px;
	margin-top:2px;
}
#dragDropContainer{	/* Main container for this script */
	/*border:1px solid #317082;
	background-color:#FFF;*/
	-moz-user-select:none;
}
#dragDropContainer ul{	/* General rules for all <ul> */
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:2px;
}

#dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
	list-style-type:none;
	height:25px;
	background-color:#eee;
	
	padding-left: 3px;
	margin-bottom:2px;
	cursor:pointer;
	font-size:14px; /*0.9em*/
	
}

li#indicateDestination{	/* Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */
	border:1px solid #317082;
	background-color:#FFF;
}




#dragDropContainer .mouseover{	/* Mouse over effect DIV box in right column */
	background-color:#E2EBED;
	/*border:1px solid #317082;*/
}

/* Start main container CSS */



div#mainContainer{	/* Right column DIV */
	width:100%;
	float:left;
	
}
#mainContainer div{	/* Parent <div> of small boxes */
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:0px;
	/*border:1px solid #999;*/

	/* CSS HACK */
	width: 172px;	/* IE 5.x */
	width/* */:/**/170px;	/* Other browsers */
	width: /**/170px;

}

#mainContainer div ul{
	/*margin-left:10px;*/
}
/*
#mainContainer div p{	 Heading above small boxes 
	margin:0px;
	padding:0px;
	padding-left:12px;
	font-weight:bold;
	background-color:#317082;
	color:#FFF;
	margin-bottom:0px;
	font-size:16px; 
}*/

#mainContainer ul{	/* Small box in right column ,i.e <ul> */
	/*width:152px;
	height:80px;*/
	
	border:0px;
	margin-bottom:0px;
	overflow:hidden;
  
  padding:0px;
  margin-top:5px;
  margin-bottom:5px;
  margin:0px;
}

#dragContent{	/* Drag container */
	position:absolute;
	width:150px;
	height:20px;
	display:none;
	margin:0px;
	padding:0px;
	z-index:2000;
}

#dragDropIndicator{	/* DIV for the small arrow */
	position:absolute;
	width:7px;
	height:10px;
	display:none;
	z-index:1000;
	margin:0px;
	padding:0px;
}


#divhidden{
	display:none;
	
}
#divshow{
	display:block;
}

.but1, .but2{
  width: 50px;
  text-align: center;
  border: none;
  height:100%;
  float: right;
}
.but1{
  background-color:#333;
  color:#FFF;
  
}

.but2{
  background-color:#CCC;
  color:#333;
}

.lic0{
  background-color:#999;
}
.lic1 {
  background-color:#FFFF99;
}
.dragbox{
  /*background-color:#000;*/
}
.drag-head {
   
}

