<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>


	<style type="text/css">
	
	</style>
	<style type="text/css" media="print">
	div#listOfItems{
		display:none;
	}
	body{
		background-color:#FFF;
	}
	img{
		display:none;
	}
	#dragDropContainer{
		border:0px;
		width:100%;
	}
	</style>
	
<script src="scripts/lists.js"  type="text/javascript" ></script>

</head>

<body>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
	
<div id="dragDropContainer">
	<div id="topBar"></div>
	<div id="listOfItems">
		<div>
			<p>Available columns </p>
		    <ul id="allItems">
			<li id="0">C&oacute;digo </li>
			<li id="1">Nombre</li>
			<li id="2">Tipo1</li>
			<li id="3">Tipo2</li>
			<li id="4">Grupo1</li>
			<li id="5">Grupo2</li>
			<li id="6">Poder</li>
			<li id="7">Region</li>
			<li id="8">Ratio</li>
			<li id="9" style="background-color:#FFFF99">Color Percibido</li>
		</ul>
		</div>
	</div>
	<div id="mainContainer">
		<!-- ONE <UL> for each "room" -->
		<div>
			<p>Sort Columns </p>
			<ul id="box1">
				
			</ul>
		</div>
		<div id="divsortt5" >
			<p>Element type 5</p>
		      <label>
		        <input  type="radio" name="sortt5" value="a" checked="checked" />
		        Amarillo</label>
		      <br />
		      <label>
		        <input  type="radio" name="sortt5" value="b" />
		        Rojo</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="c" />
		        Gris</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="d" />
		        Blanco</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="e" />
		        Rosa</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="f" />
		        Morado</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="g" />
		        Marr&oacute;n</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="h" />
		        Azul</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="i" />
		        Verde</label>
		      <br />
			  <label>
		        <input  type="radio" name="sortt5" value="j" />
		        Negro</label>
		      
		      <br />

		</div>
	</div>
	
	
</div>
	
	</td>
  </tr>
</table>



<div id="footer">
	<form action="aPage.html" method="post">
	  
	  <input type="button" onclick="saveDragDropNodes()" value="Save"></form>
</div>
<ul id="dragContent"></ul>
<div id="dragDropIndicator"><img src="images/insert.gif"></div>
<div id="saveContent"><!-- THIS ID IS ONLY NEEDED FOR THE DEMO --></div>



</body>
</html>
