{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% include "fuzzyapp/metaheader.html" with title="Home - Database query" %}

    
  </head>

  <body role="document">
    
    
    {% include "fuzzyapp/header.html" with page="none" %}
    
    
    
    <div class="container theme-showcase  total" role="main">
    
    
    <div class="row">
        <div class="col-md-8">
        
        <div class="jumbotron panel panel-default" style="background-color:#fff;">
  <h1>Database: {{db_name}}</h1>
 
</div>
        
        </div>
        
        {% include "fuzzyapp/db_menu.html" with page="info" %}
        
      </div>
    
    
        <div class="well">
        
          <div class="page-header">
            <h1>{{db_name}}</h1>
          </div>
          
          <p>pokemon is a small database based on the famous videogame bearing 
             the same name. pokemon (the DB) contains only one table (also named
             pokemon) with the following attributes: 'codigo' (displayed as 
             'Codigo') to represent the pokemon pokedex number, 'nombre' 
             (displayed as 'Nombre') to indicate the pokemon name, 'tipo_1' and 
             'tipo_2' (displayed jointly as 'Tipos) respectively specify the 
             primary and secondary type categories of the pokemon (the last one 
             in the case of dealing with dual-type pokemons), 'gh_1' and 'gh_2' 
             (displayed jointly under 'Grupos) for designating egg groups 
             ---categories that determine which pokemons are able to interbreed---, 
             'poder' (displayed as 'Poder') to indicate the pokemon power (four 
             numbers that denote attack, special attack, defense and special 
             defense), 'region' (displayed as 'Region') specifies the region in 
             which the pokemon was first seen, 'ratio' (displayed as 'Ratio') 
             represents how easy or hard it is to capture a pokemon (depending 
             on which of the 4 poke balls is being used) and 'color' (displayed 
             as 'Color') specifies the pokemon's "primary" color.</p>
        </div>       
        
        
       
{% include "fuzzyapp/footer.html" %}


    </div>
    
    <!--
    <div class="footer">
      <div class="container">
        <p class="text-muted">Simon Bolivar University</p>
      </div>
    </div>
    -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!--    -->
    <script src="{% static 'fuzzyapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/docs.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/ie10-viewport-bug-workaround.js' %}"></script>
    
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    -->

</body></html>
