{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% include "fuzzyapp/metaheader.html" with title="Home - Database query" %}

    
    <script>
    
      /*
       * Functions for settings normal elements
       */
      function fb(elem){
        id = elem.id.charAt(1);
        if(elem.className == "but2"){
          elem.className = "but1";
          elem.innerHTML = "DESC";
          document.getElementById("hid"+id).value = '1';
        }else{
          elem.className = "but2";
          elem.innerHTML = "ASC";
          document.getElementById("hid"+id).value = '0';
        }
      }
      /*
       * Function for setting elements type 3 or 5
       */
      function seltf(elem){
        id = elem.id.charAt(4);
        document.getElementById("hid"+id).value = (elem.options[elem.selectedIndex].value); //String.fromCharCode
      }
      
      
      function itc(k){
        return String.fromCharCode(parseInt(k)+97)
      }
      
      /*
       * Function for show or hide tables for sorting
       */
      function sh_st5(){
      
      {% for id,no,li in starting_list %}
	      if(box1_contain('{{id}}')){
		      document.getElementById("dit{{id}}").style.display = "block";
		      document.getElementById("dit{{id}}").style.visibility = "visible";  //.className = "divshow";
	      }else{
	        document.getElementById("dit{{id}}").style.display = "hidden";
		      document.getElementById("dit{{id}}").style.display = "none";//className = "divhidden";
	      }
	    {% endfor %}
      }
      
      function saveDragDropNodes(){
	      var saveString = "";
	      var uls = dragDropTopContainer.getElementsByTagName('UL');
	      for(var no=0;no<uls.length;no++){	// LOoping through all <ul>
		      if(uls[no].id != 'box1') continue;
		      var lis = uls[no].getElementsByTagName('LI');
		      for(var no2=0;no2<lis.length;no2++){
			      saveString = saveString + itc(lis[no2].id);
		      }
	      }
	      
	      
	      {% for a, t in att_list %}
		    

		    saveString += itc(document.getElementById('hid{{forloop.counter0}}').value);
			    
	      {% endfor %}
	      
	      
	      document.getElementById('query').value = saveString;
	      document.getElementById('qform').submit();
	      
	      /*var str = "";
	      if(box1_contain('node2')){
		      str = "hola";
	      }
	
	      document.getElementById('saveContent').innerHTML = '<h1>'+str+'Ready to save these nodes:</h1> ' + saveString.replace(/;/g,';<br>') + '<p>Format: ID of ul |(pipe) ID of li;(semicolon)</p><p>You can put these values into a hidden form fields, post it to the server and explode the submitted value there</p>';
	      sh_st5();*/
      }

      
      
    </script>
  </head>

  <body role="document">
    
    
    {% include "fuzzyapp/header.html" with page="none" %}
    
    
    
    <div class="container theme-showcase  total" role="main">
   
   <div class="row">
       
       
        {% include "fuzzyapp/db_table.html" with page="query" %}
        {% include "fuzzyapp/db_menu.html" with page="query" %}
        
      </div>
   
   
       
    
<div id="sortingdiv"  class="panel panel-primary" style="">

<div class="panel-heading">

    <h3 class="panel-title"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Query Settings</h3>

</div>


<div align="center">
<div style="width:740px;" align="left" >
<div class="panel-body" >
  To sort data, drag and drop the attributes you wish to sort by from the 'Attributes' column on the right to the 'Sort by' column on the left. When sorting, attributes at the top have precedence over attributes at the bottom.
</div>


<div id="dragDropContainer" class="panel-body">
	
	
	
	<div id="listOfItems" style="display:none">
		<div>
		    <ul id="allItems"></ul>
		</div>
	</div>
	
	<div id="mainContainer" >
	  <div class="dragbox panel panel-default">
	    
	    <div class="drag-head panel-heading "  >Attributes</div>
			
			<ul id="box2">
				{% for a, t in att_list %}
			    <li id="{{forloop.counter0}}" class="lic{{t}}">
			     {{a}}
			    {% if t == 0 %}
			    
			    <button  id="b{{forloop.counter0}}" class="but2" onmousedown="fb(this);">ASC</button>
			    
			    {% endif %}
			    </li>
		    {% endfor %} 
			</ul>
			
		</div>
	  <div style="width:20px; padding-top:70px;text-align:center; "><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></div>
		<div class="dragbox panel panel-default">
			<div class="panel-heading">Sort by</div>
			<ul id="box1"  >
			  
			</ul>
		</div>
		
		
		
		<div id="divsortt5" style="margin-left:40px;">
		<div  class=" panel panel-info" style="width:300px;" >
		   <div class="panel-heading" style="width:100%;" >Sorting by type 3 and 5 attributes</div>
		   
		   
		   
		   
<div id="dragDropContainer" class="panel-body" style="width:100%; padding-top:5px;">
<p>When doing so, you must specify a starting from label (results will be presented in descending order with regards to the chosen element)</p>   
	
	<div style="height:150px;">		   
		{% for id,no,li in starting_list %}
		   <div id="dit{{id}}" style="display:hidden; 	visibility: hidden; width:100%;">
			  <label> {{no}} Starting From:</label>
			   <select id="selt{{id}}" onchange="seltf(this)">
			   {% for obj in li %}
		        <option value="{{forloop.counter0}}" {% if forloop.first %}selected="selected"{% endif %}>{{obj}}</option>
		     {% endfor %}
		     </select>
		</div>
		{% endfor %} 
  </div>
		
		</div>
		
		</div>
		
		</div>
		
	</div>
		
	
	
</div>

<div style="clear:both;"> </div>


	
	
	
<div id="footer">
  <form action="#result" method="get" id="qform">
	  <input type="hidden" name="query" id="query" value="{{query}}">
	  <input type="hidden" name="page" value="1">
	  </form>
	<form action="aPage.html" method="post">
	  
	  {% for a, t in att_list %}
	    <input type="hidden" name="hid{{forloop.counter0}}" id="hid{{forloop.counter0}}" value="0">
		{% endfor %} 
	  
	  <input type="button" class="btn btn-primary navbar-btn" onclick="saveDragDropNodes()" value="Query"></form>
</div>
<ul id="dragContent"></ul>
<div id="dragDropIndicator"><img src="{% static 'fuzzyapp/images/insert.gif' %}"></div>
<div class="container theme-showcase" role="main">

</div> 
</div>
</div>
    
    </div>






        <a name="result"></a>
        
        
   <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
   <h3 class="panel-title">
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp; Query Table
  </h3>
  </div>
  <div class="panel-body" >
<h4 style="color:#333;">Your Query:  </h4>

<div class="sqlcode">
  {% for obj in queryhtml %}
  <div>
  {% for s, t in obj %}
    {% if t == 1 %} <span class="tag"> {% endif %}
    
    {{s}}
    {% if t == 1 %} </span> {% endif %}
    
  {% endfor %}
  </div>
  {% endfor %}
</div>


</div>

  <!-- Table -->
   <table class="table table-center">
            <thead>
                <tr>
                
                <th>Icon</th>
                
                {% for name, type in att_list %}
                    <th>{{name}}</th>
                {% endfor %}    
                </tr>
            </thead>
            
            <tbody>
                {% for object in object_sublist %}
                    <tr class="{% cycle 'pure-table-odd' '' %}">
                    
                    
                        <td style="height:102px;width:125px;" align="center"><img src="{% static 'fuzzyapp/images/icons/' %}{{object.codigo}}.png"  /></td>
                    
                        
                        <td>{{ object.codigo           }}  </td>
                        <td>{{ object.nombre           }}  </td>
                        <td>{{ object.tipo_1           }}  </td>
                        <td>{{ object.gh_1             }}  </td>
                        <td>{{ object.region           }}  </td>
                        <td>{{ object.color_percibido  }}  </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Empty Database.</td>
                    </tr>
                  
                {% endfor %}
            </tbody>
        </table>
        
        
        
         <div class="panel-footer">
         
         <nav>
          <ul class="pager">
                {% if object_sublist.has_previous %}
                    <li><a href="?query={{query}}&page={{ object_sublist.previous_page_number }}#result">&larr; Previous</a></li>
                {% endif %}
                
                <li><a href="javaScript:void(0);">Page {{ object_sublist.number }} of {{ object_sublist.paginator.num_pages }}.</a></li>
            
                {% if object_sublist.has_next %}
                    <li><a href="?query={{query}}&page={{ object_sublist.next_page_number }}#result">Next &rarr;</a></li>
                {% endif %}
          </ul>
        </nav>
         
         </div>
        
</div>
        
       
{% include "fuzzyapp/footer.html" %}


    </div>
    
    <!--
    <div class="footer">
      <div class="container">
        <p class="text-muted">Simon Bolivar University</p>
      </div>
    </div>
    -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!--    -->
    <script src="{% static 'fuzzyapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/docs.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/ie10-viewport-bug-workaround.js' %}"></script>
    
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    -->

</body></html>
