{# without load static, static tag doesnt work!! #}
{% load static %}

<p></p>
<div style="margin-left:5px; margin-right:auto; text-align:left; font-size:12px; margin-top:8px; margin-bottom:14px, width:12oopx">
	
	<a href="http://www.usb.ve">
		<img src="{% static 'fuzzyapp/images/logo_usb.png' %}" width=75 height = 50 />
	</a>	
	<div style="margin-left:90px; margin-top:-30px; font-size:12px">
		<div style="text-align:left; float:left">		
		<a href="http://www.usb.ve"> Universidad Simón Bolívar - Venezuela </a>	
		</div>
	</div>	

</div>
