{# without load static, static tag doesnt work!! #}
{% load static %}




<div style="clear:both;"> </div>
       <div class="panel panel-default">
          <div class="panel-body" style="height:100px; padding-top:20px; padding-left:30px;">
            

              	
	        <div style="width:75px; float:left; margin-right: 20px; ">
	           <a href="http://www.usb.ve">
		        <img src="{% static 'fuzzyapp/images/logo_usb.png' %}" width="75" height="50" />
	        </a>
	        </div>
	        <div style=" font-size:12px; float: left; text-align:left; height:100%; padding-top:10px; ">
	      <a href="http://www.usb.ve" > Universidad Sim&oacute;n Bol&iacute;var - Venezuela</br>
	        Department of Computer Science and Information Technology</a> 
		        
	        </div>	
        </div>
                
        </div>
