{# without load static, static tag doesnt work!! #}
{% load static %}


<div style="clear:both;"> </div>
       <div class="panel panel-primary">
          <div class="panel-body" style="height:100px; padding-top:20px; padding-left:30px;">
            

              	
	        <div style=" font-size:12px">
	           <a href="http://www.usb.ve">
		        <img src="{% static 'fuzzyapp/images/logo_usb.png' %}" width="75" height="50" />
	        </a>
	        
	      <a href="http://www.usb.ve" style="margin-left:20px;"> Universidad Sim&oacute;n Bol&iacute;var - Venezuela </a>
		        
	        </div>	
        </div>
                
        </div>
