
{# without load static, static tag doesnt work!! #}
{% load static %}
    

<div class="container total" >
  
  
  <div class="masthead " >
  
  <img src="{% static 'fuzzyapp/images/logo4.png' %}" style="margin:30px; margin-top:30px;" />
  
  
    
  <!-- <a class="navbar-brand" href="#">fuzzydoDB</a> -->
  
  
    <div id="navbar" class="navbar-collapse navbar-inverse navbar" role="navigation">
      <ul class="nav navbar-nav">
        <li {% if page == "home" %}class="active"{% endif %} ><a href="{% url 'fuzzyapp:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li {% if page == "about" %}class="active"{% endif %} ><a href="{% url 'fuzzyapp:about' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">

    <li>
        <a href="#">Link</a>
    </li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>

  </ul>
    </div>
  </div>
  
  
  
  
</div>


