{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% include "fuzzyapp/metaheader.html" with title="Home" %}

    
  </head>

  <body role="document">

    {% include "fuzzyapp/header.html" with page="home" %}
    
    

    
    <div class="container theme-showcase total" role="main">
    
    
    <div class="jumbotron panel panel-default" style="background-color:#fff;">
  <h1>Welcome to <i>fuzzydoDB</i>!</h1>
  <h2> &nbsp;&nbsp;a prototype for <b>fuzzy data</b> specification, storage and querying developed at <i>Universidad Simón Bolívar</i>.</h2>
  <p> &nbsp;&nbsp;This site was designed to demonstrate functionality for Type 5 fuzzy attributes. To try out the web application and run some test queries on fuzzy data select one of the avaiable databases below.</p>
  
  <p>
  To find out more about the fuzzydoDB project click on the Learn More button.
  </p>
  
  <p><a class="btn btn-primary btn-lg" href="{% url 'fuzzyapp:about' %}" role="button">Learn more</a></p>
</div>
    
      <!--  <div class="well">
          <h1>fuzzydoDB</h1>
          <p>fuzzydoDB (Fuzzy Domains Data Bases) is a project initiated by 
             professors of the Computer Science and Information Technology 
             Department at Universidad Simon Bolivar whose development is 
             currently undertaken by Computer Engineering students of the same 
             institute. The aim of the project is to provide a prototype that 
             allows users to specify, store and query databases with fuzzy 
             attributes in the hopes it will ultimately enable the corroboration 
             of theoretic results that have been attained in the field of study. 
             This web application was designed for illustrative purposes only, 
             to display the functioning features of the prototype on small study 
             cases.</p>
          <p><a href="#" class="btn btn-primary btn-sm" role="button">Learn more »</a></p>
        </div> -->

    
   <div class="panel panel-primary">

      <div class="panel-heading">
   <h2 class="panel-title">
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp; Available Databases
  </h3>
  </div>
  <div class="panel-body" >

    <p>
     Pick a database from the following list:
    </p>
      
        <div class="col-sm-4">
            <div class="row">        
                {% if db_list %}
                <div class="list-group">
                  {% for db in db_list %}
                  <a href="{% url 'fuzzyapp:db_information' db %}" class="list-group-item">{{ db }}</a>
                  {% endfor %}
                </div>
                {% else %}
                    <p>No Database available.</p>
                {% endif %}
            </div>
        </div>
       
       
       </div>
       </div>
       {% include "fuzzyapp/footer.html" %}
       
       
       
    </div>
    
    

    
    <!--
    <div class="footer">
      <div class="container">
        <p class="text-muted">Simon Bolivar University</p>
      </div>
    </div>
    -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!--    -->
    <script src="{% static 'fuzzyapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/docs.min.js' %}"></script>
    <script src="{% static 'fuzzyapp/js/ie10-viewport-bug-workaround.js' %}"></script>
    
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    -->

	
</body></html>
